---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import ToolSection from "@components/ToolSection.astro" 
import CocktailsSection from "@components/CocktailsSection.astro"
import ShotsSection from "@components/ShotsSection.astro"
---

<Layout title="Astro Starter">
<!-- main content here -->
 <header> 
  <div class="hero-image-container">
  <img src="src/assets/images/chevron-wood-texture-warm-parquet-background-modern-interior.jpg" alt="Wooden Herringbone Pattern" />
  <h1>Bartender's Glossary</h1>
</div>
</header>
<CocktailsSection/>
<ShotsSection/>
<ToolSection/>
</Layout>

<style>
img {
  width: 100vw;
  height: 500px;
  object-fit: cover;
  display: block;
  z-index: 1;
}

header {
  position: relative;
  text-align: center;
  z-index: 3;
}

.hero-image-container {
  position: relative;
  width: 100vw;
  height: 500px;
  overflow: hidden;
}
.hero-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.hero-image-container h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-background);
  text-shadow: 0 2px 8px rgba(0,0,0,0.5);
  margin: 0;
}