---
import TwoColumns from "@components/TwoColumns.astro"
---


<h2 id="shots" class="vertical-h2">Shots</h2>

<div class="shots-horizontal-scroll-container">
    <div class="shots-horizontal-scroll">
            <div class="content-box">
                <div class="content-details">
                    <div class="content-info">
                        <h3>Green Tea</h3>
                        <ul>1.0 oz Whiskey</ul>
                        <ul>1.0 oz Peach Schnapps</ul>
                        <ul>1.0 oz Ginger Ale</ul>
                        <ul>1.0 oz Sour Mix</ul>
                        <div class="steps-box">
                            <ol>
                                <li>Grab a pint glass and add ingredients</li>
                                <li>Add ice and shake</li>
                                <li>Grab a shot glass and strain shot</li>
                            </ol>
                        </div>
                    </div>
                    <div class="content-image">
                        <img src="src/assets/images/greentea.jpg" alt="Green Tea" />
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-details">
                    <div class="content-info">
                        <h3>Jolly Rancher</h3>
                        <ul>1.5 oz Raspberry Vodka</ul>
                        <ul>0.75 oz Peach Schnapps</ul>
                        <ul>0.75 oz Cranberry Juice</ul>
                        <div class="steps-box">
                            <ol>
                                <li>Grab a pint glass and add ingredients</li>
                                <li>Add ice and shake</li>
                                <li>Grab a shot glass and strain shot</li>
                            </ol>
                        </div>
                    </div>
                    <div class="content-image">
                        <img src="src/assets/images/jollyrancher.jpg" alt="Jolly Rancher" />
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-details">
                    <div class="content-info">
                        <h3>Blowjob</h3>
                        <ul>1.0 oz Amaretto</ul>
                        <ul>1.0 oz Irish Cream</ul>
                        <ul>Whipped Cream</ul>
                        <div class="steps-box">
                            <ol>
                                <li>Grab a pint glass and add ingredients</li>
                                <li>Add ice and shake</li>
                                <li>Grab a shot glass and strain shot</li>
                                <li>Garnish with whipped cream</li>
                            </ol>
                        </div>
                    </div>
                    <div class="content-image">
                        <img src="src/assets/images/blowjob.jpg" alt="Blowjob" />
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-details">
                    <div class="content-info">
                        <h3>Screaming Nazi</h3>
                        <ul>1.0 oz Jagermeister</ul>
                        <ul>1.0 oz Rumpleminze</ul>
                        <div class="steps-box">
                            <ol>
                                <li>Grab a pint glass and add ingredients</li>
                                <li>Add ice and shake</li>
                                <li>Grab a shot glass and strain shot</li>
                            </ol>
                        </div>
                    </div>
                    <div class="content-image">
                        <img src="src/assets/images/screamingnazi.jpg" alt="Screaming Nazi" />
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-details">
                    <div class="content-info">
                        <h3>Buttery Nipple</h3>
                        <ul>1.0 oz Butterscotch Schnapps</ul>
                        <ul>0.5 oz Irish Cream</ul>
                        <div class="steps-box">
                            <ol>
                                <li>Grab a shot glass and pour Butterscotch Schnapps</li>
                                <li>Gently pour Irish Cream on top</li>
                            </ol>
                        </div>
                    </div>
                    <div class="content-image">
                        <img src="src/assets/images/butterynipple.jpg" alt="Buttery Nipple" />
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-details">
                    <div class="content-info">
                        <h3>Lemon Drop</h3>
                        <ul>1.5 oz Citrus Vodka</ul>
                        <ul>0.75 oz Triple Sec</ul>
                        <ul>0.75 oz Lemon Juice</ul>
                        <div class="steps-box">
                            <ol>
                                <li>Grab a pint glass and add ingredients</li>
                                <li>Add ice and shake</li>
                                <li>Grab a shot glass and strain shot</li>
                            </ol>
                        </div>
                    </div>
                    <div class="content-image">
                        <img src="src/assets/images/lemondrop.jpg" alt="Lemon-Drop" />
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-details">
                    <div class="content-info">
                        <h3>Kamikaze</h3>
                        <ul>1.5 oz Vodka</ul>
                        <ul>0.75 oz Triple Sec</ul>
                        <ul>0.75 oz Lime Juice</ul>
                        <div class="steps-box">
                            <ol>
                                <li>Grab a pint glass and add ingredients</li>
                                <li>Add ice and shake</li>
                                <li>Grab a shot glass and strain shot</li>
                            </ol>
                        </div>
                    </div>
                    <div class="content-image">
                         <img src="src/assets/images/kamikaze.jpg" alt="Kamikaze" />
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-details">
                    <div class="content-info">
                        <h3>White Tea</h3>
                        <ul>1.0 oz Vodka</ul>
                        <ul>1.0 oz Triple Sec</ul>
                        <ul>1.0 oz Sprite</ul>
                        <ul>1.0 oz Sour Mix</ul>
                        <div class="steps-box">
                            <ol>
                                <li>Grab a pint glass and add ingredients</li>
                                <li>Add ice and shake</li>
                                <li>Grab a shot glass and strain shot</li>
                            </ol>
                        </div>
                    </div>
                    <div class="content-image">
                        <img src="src/assets/images/whitetea.jpg" alt="White-Tea" />
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-details">
                    <div class="content-info">
                        <h3>Gatorade</h3>
                        <ul>1.5 oz Blueberry Vodka</ul>
                        <ul>0.75 oz Sour Mix</ul>
                        <ul>0.75 oz Lemonade</ul>
                        <ul>0.5 oz Blue Curacao</ul>
                        <div class="steps-box">
                            <ol>
                                <li>Grab a pint glass and add ingredients</li>
                                <li>Add ice and shake</li>
                                <li>Grab a shot glass and strain shot</li>
                            </ol>
                        </div>
                    </div>
                    <div class="content-image">
                        <img src="src/assets/images/gatorade.jpg" alt="Gatorade" />
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="content-details">
                    <div class="content-info">
                        <h3>Wet Pussy</h3>
                        <ul>0.5 oz Vodka</ul>
                        <ul>0.5 oz Peach Schnapps</ul>
                        <ul>0.5 oz Orange Juice</ul>
                        <ul>0.5 oz Cranberry Juice</ul>
                        <div class="steps-box">
                            <ol>
                                <li>Grab a pint glass and add ingredients</li>
                                <li>Add ice and shake</li>
                                <li>Grab a shot glass and strain shot</li>
                            </ol>
                        </div>
                    </div>
                    <div class="content-image">
                        <img src="src/assets/images/wetpussy.jpg" alt="Wet-Pussy" />
                    </div>
                </div>
            </div>
    </div>
</div>

<style>
    .shots-horizontal-scroll .content-image {
        top: -32px !important;
    }
    .shots-horizontal-scroll-container {
        width: 80vw;
        overflow-x: auto;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
    }
    .shots-horizontal-scroll {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        width: max-content;
        align-items: stretch;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        padding-bottom: 2rem;
    }
    .shots-horizontal-scroll .content-box {
        scroll-snap-align: center;
        min-width: 340px;
        max-width: 400px;
        padding: 6.0rem 1.5rem 1.5rem 1.5rem;
    }
        h2.vertical-h2 {
                font-family: var(--font-heading);
                font-size: 8rem;
                margin-bottom: 1rem;
                position: absolute;
                left: 98vw;
                top: 15vh;
                transform: rotate(90deg);
                transform-origin: left top;
                white-space: nowrap;
                z-index: 20;
                text-align: left;
                margin-top: 0;
                margin-left: 0;
        }
        
    </style>
