---

---

<h2>Shots</h2>

    <h3>Green Tea</h3>

    <ul>1.0 oz Whiskey</ul>
    <ul>1.0 oz Peach Schnapps</ul>
    <ul>1.0 oz Ginger Ale</ul>
    <ul>1.0 oz Sour Mix</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h3>Lemon Drop</h3>

    <ul>1.5 oz Citrus Vodka</ul>
    <ul>0.75 oz Triple Sec</ul>
    <ul>0.75 oz Lemon Juice</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h3>Jolly Rancher</h3>

    <ul>1.5 oz Raspberry Vodka</ul>
    <ul>0.75 oz Peach Schnapps</ul>
    <ul>0.75 oz Cranberry Juice</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h3>Kamikaze</h3>

    <ul>1.5 oz Vodka</ul>
    <ul>0.75 oz Triple Sec</ul>
    <ul>0.75 oz Lime Juice</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h3>Blowjob</h3>

    <ul>1.0 oz Amaretto</ul>
    <ul>1.0 oz Irish Cream</ul>
    <ul>Whipped Cream</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>
    <ol>Garnish with whipped cream</ol>

    <h3>White Tea</h3>

    <ul>1.0 oz Vodka</ul>
    <ul>1.0 oz Triple Sec</ul>
    <ul>1.0 oz Sprite</ul>
    <ul>1.0 oz Sour Mix</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h3>Screaming Nazi</h3>

    <ul>1.0 oz Jagermeister</ul>
    <ul>1.0 oz Rumpleminze</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h3>Gatorade</h3>

    <ul>1.5 oz Blueberry Vodka</ul>
    <ul>0.75 oz Sour Mix</ul>
    <ul>0.75 oz Lemonade</ul>
    <ul>0.5 oz Blue Curacao</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h3>Buttery Nipple</h3>

    <ul>1.0 oz Butterscotch Schnapps</ul>
    <ul>0.5 oz Irish Cream</ul>

    <ol>Grab a shot glass and pour Butterscotch Schnapps</ol>
    <ol>Gently pour Irish Cream on top</ol>

    <h3>Pornstar</h3>

    <ul>1.0 oz Raspberry Liqueur</ul>
    <ul>1.0 oz Blue Curacao</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>
